<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="UTF-8" />
    <title>UFEND-4 Sentiment Analysis</title>
    <meta name="description" content="UFEND-3 project">
    <meta name="keywords" content="NLP">
    <meta name="author" content="Francesco Bellini">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header class="header shadow bg-primary">
      <h1 class="header__title">Sentiment Analysis App</h1>
    </header>
    <main class="column">
      <form name="journal-entry" autocomplete="off" class="entry">
        <div>
          <label class="color-primary" for="feelings">Enter text to analyze</label>
          <textarea class="shadow" name="feelings" id="feelings" placeholder="Enter your feelings here" rows="5" cols="30" required></textarea>
        </div>
        <button id="generate" type="submit" class="entry__button bg-primary shadow">Generate</button>
      </form>
      <div id="loader" class="loader can-hide hidden"></div>
      <section class="entry can-hide hidden" id="last-entry">
        <h2 class="entry__title color-primary">Analysis</h2>
        <div>
          <label class="color-primary" for="confidence">Confidence - is the text ironic?</label>
          <input class="shadow" type="number "name="confidence" id="confidence" disabled/>
        </div>
        <div>
          <label class="color-primary" for="score">Score - positive or negative?</label>
          <input class="shadow" type="text" id="score" name="date" disabled />
        </div>
        <div>
          <label class="color-primary" for="agreement">Agreement - do the sentences agree overall?</label>
          <input class="shadow" type="text" id="agreement" name="agreement"  disabled/>
        </div>
        <div>
          <label class="color-primary" for="subjectivity">Subjectivity -  how does the text appear?</label>
          <input class="shadow" type="text" name="subjectivity" id="subjectivity" disabled/>
        </div>
        <div>
          <label class="color-primary" for="irony">Irony - is the text ironic?</label>
          <input class="shadow" type="text" name="irony" id="irony" disabled/>
        </div>
      </section>
    </main>
  </body>
</html>
